.title {
    font-weight: bold;
    font-size: 33px;
    line-height: 50px;
    &_left {
        font-size: 56px;
        line-height: 57px;
        color: #FFFFFF;
    }
}

.page__header {
    text-align: center;
    font-size: 30px;
}