@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.divider {
  width: 60px;
  height: 3px;
  background-color: #FF7400;
  margin: 10px auto 40px auto;
}

.promo {
  min-height: 100vh;
  position: relative;
  background: url(../../img/promo/first_bg.jpg) center center/cover no-repeat;
  padding-top: 105px;
  padding-bottom: 105px;
}
.promo .title {
  color: #fff;
  width: 512px;
  display: block;
}
.promo__wrapper {
  position: relative;
  top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.promo__icons {
  margin-top: 65px;
  width: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.promo__icons .promo__icon {
  width: 108px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.promo__icons .promo__icon img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.promo__link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
}
.promo__link a {
  color: #ffffff;
  text-decoration: underline;
}

.title {
  font-weight: bold;
  font-size: 33px;
  line-height: 50px;
}
.title_left {
  font-size: 56px;
  line-height: 57px;
  color: #FFFFFF;
}

.page__header {
  text-align: center;
  font-size: 30px;
}

button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #FF7400;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.button_main {
  width: 300px;
  height: 50px;
  font-size: 16px;
  margin-top: 68px;
}

.button_submit {
  width: 75%;
  height: 35px;
  border-radius: 5px;
  background-color: #FF7400;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.logo__img {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 25px;
  left: 30px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
.logo__wrapper {
  position: absolute;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 15px;
  left: 90px;
}
.logo .company__name {
  font-size: 22px;
  color: #fff;
}
.logo .company__number {
  margin-top: -5px;
  font-size: 10px;
  color: #fff;
}

.hamburger {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}
.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
}
.hamburger span.long {
  width: 36px;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.menu.active {
  left: 0;
  visibility: visible;
  opacity: 1;
}
.menu__block {
  position: relative;
  width: 345px;
  background-color: #FF7400;
  height: 100%;
  padding-top: 140px;
  padding-left: 40px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  z-index: 10;
}
.menu__close {
  position: absolute;
  top: 24px;
  right: 25px;
}
.menu__close:hover {
  cursor: pointer;
}
.menu__list {
  list-style-type: none;
  padding-left: 35px;
}
.menu__link {
  position: relative;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 15px;
}
.menu__link:before {
  content: '';
  position: absolute;
  left: -35px;
  top: 10px;
  width: 15px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 100%;
}
.menu__link:hover:before {
  background-color: #fff;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.menu__link a {
  color: #fff;
  text-decoration: none;
}
.menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: .75;
}

.offer {
  min-height: 100vh;
  position: relative;
  padding-top: 50px;
}
.offer__wrapper {
  margin-top: 20px;
}
.offer__item {
  position: relative;
  margin: 0 auto;
  max-width: 997px;
  height: 499px;
  margin-bottom: 25px;
}
.offer__item_1 {
  background: url("../../img/offer/Group1.jpg") center center/cover no-repeat;
}
.offer__item_2 {
  background: url("../../img/offer/Group2.jpg") center center/cover no-repeat;
}
.offer__item_3 {
  background: url("../../img/offer/Group3.jpg") center center/cover no-repeat;
}
.offer__title {
  font-size: 30px;
  line-height: 54px;
  color: #FFFFFF;
}
.offer__descr {
  font-size: 20px;
  line-height: 36px;
  color: #ffff;
  margin-top: 35px;
}
.offer__inner {
  max-width: 850px;
  position: relative;
  top: 41px;
  left: 58px;
}
.offer__inner_2 {
  text-align: right;
  left: 90px;
}

.consultation {
  margin-top: 50px;
  min-height: 100vh;
  padding: 100px 0 92px 0;
  background: url("../../img/consultation/background.jpg") center center/cover no-repeat;
}
.consultation__descr {
  color: #ffffff;
  font-size: 35px;
  font-weight: 500;
  text-align: left;
  margin-top: 30px;
}
.consultation__input {
  color: #fff;
  font-size: 20px;
}
.consultation .error {
  border: 1px solid red;
}
.consultation label.error {
  color: #fff;
  border: none;
  text-align: center;
  margin-bottom: 15px;
}
.consultation__triggers {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: repeat(2, auto);
  -webkit-column-gap: 35px;
          column-gap: 35px;
}
.consultation__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.consultation__policy .policy {
  width: 15px;
}
.consultation__policy span {
  position: relative;
  font-size: 15px;
  color: #fff;
  top: 6px;
  left: 20px;
}

.feed-form {
  margin-top: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 735px;
}
.feed-form input {
  height: 30px;
  width: 415px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  color: #4b4b4b;
  font-size: 14px;
  font-weight: 300;
}
.feed-form input:nth-child(3) {
  margin-bottom: 20px;
}
.feed-form label {
  width: 270px;
}
.feed-form_mt25 {
  margin-top: 25px;
}

.partners {
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}
.partners .partners__item {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: row;
      -ms-flex-align: row;
          align-items: row;
}
.partners .partners__item img {
  max-width: 80px;
  max-height: 80px;
}
.partners .partners__item .partners__text {
  padding-left: 40px;
}
.partners .partners__item .partners__name {
  font-size: 26px;
}
.partners .partners__item .partners__descr {
  font-size: 15px;
  color: grey;
}

footer {
  width: 100%;
  min-height: 75px;
  background-color: black;
  opacity: 0.9;
}
footer .footer__main {
  margin: 0 auto;
  padding-top: 24px;
  width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer__main .vl_m {
  border-left: 3px solid white;
  height: 19px;
  position: relative;
  margin-top: 3px;
}
footer .footer__main .footer__title {
  font-size: 14px;
  color: white;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.56);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 380px;
  min-height: 400px;
  background-color: #f2f2f2;
  padding: 38px 40px 40px 40px;
}
.modal__close {
  position: absolute;
  top: 0;
  right: -40px;
  font-size: 41px;
  line-height: 21px;
  color: #FF7400;
  cursor: pointer;
}
.modal .modal__subtitle {
  color: #0d0d0d;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.modal .modal__descr {
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
.modal input {
  width: 300px;
}
.modal button {
  width: 41%;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .offer__inner {
    width: 550px;
  }
}
@media (max-width: 992px) {
  .logo__img {
    width: 35px;
    height: 35px;
  }
  .logo__wrapper {
    left: 80px;
  }

  .container {
    max-width: 720px;
  }

  .promo__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .consultation .title_left {
    font-size: 50px;
  }
  .consultation .consultation__descr {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .logo .company__name {
    font-size: 17px;
    position: relative;
    left: 11px;
  }

  .container {
    max-width: 540px;
  }

  .promo__wrapper {
    top: 65px;
  }
  .promo .title {
    width: 375px;
    font-size: 24px;
  }

  .offer .offer__item {
    height: 380px;
  }
  .offer .offer__title {
    font-size: 23px;
    line-height: 35px;
  }
  .offer .offer__descr {
    font-size: 15px;
    line-height: 25px;
  }
  .offer .offer__inner {
    width: 425px;
    left: 19px;
  }
  .offer .offer__inner_2 {
    left: 65px;
  }

  .consultation .title_left {
    font-size: 40px;
  }
  .consultation .consultation__descr {
    font-size: 22px;
  }
  .consultation .feed-form {
    width: 570px;
  }
  .consultation .feed-form label {
    width: 210px;
  }
  .consultation .feed-form input {
    width: 350px;
  }
  .consultation .consultation__triggers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
  }
  .consultation .consultation__triggers .consultation__policy .policy {
    width: 15px;
  }
}
@media (max-width: 576px) {
  .logo__img {
    width: 30px;
    height: 25px;
  }
  .logo__wrapper {
    width: 120px;
    left: 70px;
  }
  .logo .company__name {
    font-size: 12px;
    left: 0px;
  }
  .logo .company__number {
    margin-top: -10px;
  }

  .container {
    width: 100%;
  }

  .promo {
    min-height: 100vh;
  }
  .promo__icons {
    display: none;
  }
  .promo .title {
    width: 250px;
    font-size: 16px;
    line-height: 20px;
  }
  .promo .button_main {
    width: 250px;
    height: 43px;
    font-size: 15px;
    margin-top: 40px;
  }
  .promo__link {
    font-size: 13px;
  }

  .menu__block {
    width: 250px;
    padding-left: 20px;
  }
  .menu__link {
    font-size: 15px;
  }

  .offer .offer__item {
    height: 315px;
  }
  .offer .offer__inner {
    width: 250px;
  }
  .offer .offer__inner_2 {
    left: 30px;
  }
  .offer .offer__title {
    font-size: 13px;
    line-height: 24px;
  }
  .offer .offer__descr {
    font-size: 10px;
    line-height: 24px;
  }

  .consultation {
    margin-top: 0;
  }
  .consultation .title_left {
    font-size: 25px;
    text-align: center;
  }
  .consultation .consultation__descr {
    font-size: 17px;
    text-align: center;
  }
  .consultation .feed-form {
    width: 290px;
    margin-top: 40px;
  }
  .consultation .feed-form label {
    width: 200px;
    font-size: 17px;
  }
  .consultation .feed-form input {
    width: 230px;
  }
  .consultation .consultation__triggers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .consultation .consultation__triggers .consultation__policy span {
    width: 220px;
  }

  .partners .partners__item {
    margin-top: 15px;
  }
  .partners .partners__item img {
    max-width: 65px;
    max-height: 65px;
  }
  .partners .partners__item .partners__text {
    padding-left: 18px;
  }
  .partners .partners__item .partners__text .partners__name {
    font-size: 20px;
  }
  .partners .partners__item .partners__text .partners__descr {
    font-size: 11px;
  }

  footer .footer__main {
    width: 300px;
  }
  footer .footer__main .vl_m {
    border-left: 2px solid white;
    height: 15px;
    position: relative;
    margin-top: 5px;
  }
  footer .footer__main .footer__title {
    font-size: 11px;
  }

  .modal {
    width: 245px;
  }
  .modal__close {
    right: -31px;
  }
  .modal input {
    width: 170px;
  }
  .modal .modal__subtitle {
    font-size: 13px;
  }
  .modal .modal__descr {
    font-size: 10px;
  }
  .modal button {
    width: 23%;
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */