.reviews {
    padding-bottom: 71px;
    .review__item {
        margin-top: 70px;
        display: flex;
        align-items: row;
        img {
            width: 169px;
            height: 169px;
        }
        .review__text {
            padding-left: 61px;
            text-align: left;
            .review__title {
                color: #0d0d0d;
                font-size: 18px;
                font-weight: 700;
            }
            .review__subtitle {
                margin-top: 10px;
                color: #646464;
                font-size: 14px;
                font-weight: 300;
            }
            .review__descr {
                margin-top: 20px;
                color: #0d0d0d;
                font-size: 16px;
                font-weight: 400;
            }

        }
    }
}